# Server
PORT=3333

# Postgres database
PG_HOST=localhost
PG_PORT=5432
PG_USER=postgres
PG_PASS=postgres
PG_DB=furnishing
PG_SSL=false
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/furnishing

# SMTP email
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your@email.com
SMTP_PASSWORD=your-email-password
SMTP_SECURE=false

# Authentication
ACCESS_TOKEN_KEY=your_access_token_secret
ACCESS_TOKEN_TIME=15m
REFRESH_TOKEN_KEY=your_refresh_token_secret
REFRESH_TOKEN_TIME=7d

# Admin auth
ADMIN_ACCESS_TOKEN_KEY=your_admin_access_token_secret
ADMIN_ACCESS_TOKEN_TIME=15m
ADMIN_REFRESH_TOKEN_KEY=your_admin_refresh_token_secret
ADMIN_REFRESH_TOKEN_TIME=7d

# OTP encryption
crypt_password=defaultCryptoPassword
